body {
  text-align: center;
}
#canvas {
  width: 1000px;
  height: 600px;
  border: 1px solid red;
}
.tile {
  border: 1px solid white;
}
.tile > text {
  border: #fff 2px solid;
  margin: 0.5rem;
}

#legend {
  border: solid 2px blue;
  margin: 10px auto;
}
#tooltip {
  width: 200px;
  height: 200px;
}
